.makeachange {
  .header-container {
    .header-text {
      text-align: center;
      @include set-text-style(800, normal, 2.5vw, 3, $primary-color);
    }
  }
  .changes-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;

    .change-container {
      position: relative;
      cursor: pointer;
      .change-image {
        width: 350px;
        height: 350px;
        object-fit: cover;
        border-radius: 4px;
      }
      .overlay {
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.39) 64.06%,
          rgba(0, 0, 0, 0.462) 78.65%,
          rgba(0, 0, 0, 0.522) 90.1%,
          rgba(0, 0, 0, 0.6) 100%
        );
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 350px;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        padding: 30px;
        .overlay-text {
          bottom: 30px;
          position: absolute;
          @include set-text-style(600, normal, 20px, 1, $third-color);
        }
      }
    }
  }
}
