.registerasngo-container{
    width: 100%;
    .registerasngo-container__content{
        margin: 30px auto;
        width: 45%;
        padding: 15px;
        border-radius: 10px;
        background-color: $primary-color;
        &-header {
            text-align: center;
            .registerasngo-header {
                @include set-text-style(600, normal, 35px, 1.5, $background-color);
            }
            .registerasngo-subheader {
                @include set-text-style(500, normal, 20px, 1, $background-color);
            }
        }
        &-body{
            padding: 10px;
            .registerasngo-logocontainer{
                input[type="file"] {
                    display: none;
                }
                
                label {
                    padding: 7px;
                    border-radius: 13px;
                    width: max-content;
                    border: 1px solid $background-color;
                    cursor: pointer;
                    @include set-text-style(500, normal, 17px, 1, $background-color);
                }
                img{
                   width: 100%;
                   height: 100%; 
                    border-radius: 50%;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                .ngologo-container{
                    width: 150px;
                    margin: 15px 0;
                    height: 150px;
                    border-radius: 50%;
                    border: 1px solid $background-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    @include set-text-style(500, normal, 17px, 1, $background-color);
                }
            }
            .eachregister-field {
                display: flex;
                align-items: center;
                width: 100%;
                .register-icon {
                    height: 35px;
                    width: 35px;
                }
            }
            .eachregister-field>* {
                margin: 10px 15px;
            }
            
            .registerasngo-orgdocumentcontainer{
                input[type="file"]{
                    display: none;
                }
                label{
                    padding:7px;
                    border-radius: 13px;
                    width: max-content;
                    border: 1px solid $background-color;
                    margin: 10px;
                    cursor: pointer;
                    @include set-text-style(500, normal, 17px, 1, $background-color);
                }
                img{
                    height: 220px;
                    width: 100%;
                }

                .documents-container{
                   display: flex;
                    width: 100%;
                    &__registerdao{
                        display: flex;
                        flex-direction: column;     
                        align-items: center;                  
                        flex: 0.5;
                        h3{
                            @include set-text-style(500, normal, 17px, 1, $background-color);
                        }
                    }
                    &__affiliation{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex: 0.5;
                        h3 {
                            @include set-text-style(500, normal, 17px, 1, $background-color);
                        }
                    }
                }

            }
        }
    }
}