.eachdonator{
    width: 80%;
    margin: 7px auto 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    &-profilecontainer{
        .donatorprofile{
          width:50px;
          border-radius: 50%;
        }
    }
    &-message{
        flex: 1.5;
        &__name{
            @include set-text-style(700, normal, 20px, 1.5, $primary-color);
        }
        &__date{
            @include set-text-style(600, normal, 16px, 1, $primary-color);
        }
        &__message{
            text-align: justify;
            @include set-text-style(600, normal, 16px, 1.5, $primary-color);
        }
    }
    &-amountdonated{
        margin-left: 15px;
            @include set-text-style(600, normal, 16px, 1.5, $primary-color);
    }
}