.input {
  height: 60px;
  background: none;
  border: 1px solid $background-color;
  padding: 10px;
  border-radius: 10px;
  @include set-text-style(600, normal, 16px, 26.4px, $background-color);
  &.medium {
    @include inputfield-size("medium");
  }
  &.small {
    @include inputfield-size("small");
  }
  &.large {
    @include inputfield-size("large");
  }
  &.bf-large {
    border: 1px solid $primary-color !important;
    @include set-text-style(600, normal, 18px, 1, $primary-color);
    height: 50px;
    width: 100%;
  }
  &.bf-large::placeholder {
    @include set-text-style(600, normal, 16px, 26.4px, $primary-color);
  }
}

.input::placeholder {
  @include set-text-style(600, normal, 16px, 26.4px, $background-color);
}
.input:focus {
  border: 1px solid $background-color;
  outline: none;
}
