/*
    This is strictly for decalring variables 
*/

$primary-color: #555b6e;
$secondary-color: #89b0ae;
$third-color: #bee3db;
$background-color: #faf9f9;
$lightorange-color: #ffd6ba;
$body-color: #f3f3f3;
