.viewfundraiser-container{
    width: 100%;
    &__header{
        text-align: center;
        @include set-text-style(800, normal, 20px, 2, $primary-color);
    }
    &__body{
        display: flex;
        width: 70%;
        margin: 0px auto;
        .viewfundraiser-body__left{
            flex:0.5;
            .viewfundraiser-left__carousel{
                width: 700px;
                padding: 10px 20px 0 20px;
            }
            .viewfundraiser-left__organizer{
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                .organizedby{
                    @include set-text-style(600, normal, 20px, 2, $primary-color);
                    .organizername{
                        @include set-text-style(800, normal, 20px, 2, $primary-color);
                    }
                }
                .organizerlogo{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .viewfundraiser-body__right {
            flex:0.5;
            padding: 10px 0 0 0;
            .fundraiser-options{
                margin: 0 auto;
                width: 90%;
                padding: 10px 20px;
                border-radius: 10px;
                background-color: $secondary-color;
                .money-raised{
                    .money{
                        @include set-text-style(700, normal, 18px, 1.5, $primary-color);
                    }
                    .raisedoutof{
                        @include set-text-style(700, normal,16px, 1.5, #756666);
                    }
                }
                .totaldonator{
                    @include set-text-style(600, normal, 18px, 2, $primary-color);
                }
                .viewfundraiser-right__buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    margin-top: 10px;
                }
            }
           
        }
    }

    &__maincontent {
        width: 70%;
        margin: 0px auto;
        padding: 20px;
        .viewfundraiser-maincontent__fundraiserdetails{
            background-color: $secondary-color;
            padding: 10px;
            border-radius: 10px;
            display:flex;
                @include set-text-style(600, normal, 18px, 2, $primary-color);
                align-items: center;
            justify-content: space-between;
            .view-logo{
                width: 30px;
                height:30px;
            }
            .viewfundraiser-category{
                display:flex;
                align-items: center;
                gap:10px;
            }
            .viewfundraiser-likes{
                display:flex;
                gap:10px;
                align-items: center;
            }
            .viewfundraiser-contactorganizer{
                gap:10px;
                display:flex;
                align-items: center;
                .contact-container{
                    cursor: pointer;
                    padding:5px 10px;
                    background-color: $primary-color;
                    display: flex;
                    align-items: center;
                    border-radius: 7px;
                }
            }
        }
        .viewfundraiser-maincontent__description{
            padding: 15px;
            .fundraiser-description{
                text-align: justify;
                @include set-text-style(600, normal, 18px, 1.5, $primary-color);
            }
        }
    }
}